node_modules
dist
.git
.gitignore
.env
local.settings.json
.vscode
.azure
*.log
*.pem
*.key
.DS_Store
*.md
docker-compose.yml
Dockerfile
.dockerignore
.prettierrc
.eslintrc.json
tsconfig.json
*.test.ts
src
!dist

